#choice-page {
    height: 75vh;
    margin: auto auto;
    text-align: center;
}


#home-container {
    height: 85vh;
    position: relative;
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
}


.choice-title {
    font-size: 2.3rem;
    padding: 12px;
}

/* Form */

.choiceForm-btn {
    margin-top: 100px;
}


/* HOME */


.greet-user {
    display: inline;
    float: left;
    /* transition: background-color 0.3s ease; */
    width: 21%;
    padding: 14px;
    margin: 2px 10px 0 0;
}

/* Joke Container */

.joke-container {
    display: inline;
    float: right;
    /* border: 1px solid #d17300; */
    /* border-radius: 40%; */
    /* transition: background-color 0.3s ease; */
    width: 18%;
    padding: 18px;
    margin: 0 10px 0 0;
}

.joke-container > p {
    line-height: 1rem;
    font-size: 14px;
}

.btn-logout {
    display: inline-block;
    position: absolute;
    top: 470px;
    left: 10px;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-logout:hover {
    background-color: #d17300;
  }
