#choice-page {
    height: 75vh;
    margin: auto auto;
    text-align: center;
}

#home-container {
    height: 85vh;
    position: relative;
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
}

.overlay-elements {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.weather-container {
    display: inline-block;
    margin: 0 auto;
    padding: 14px;
    font-size: 24px;
    font-weight: 550;
}

.weather-container>p {
    font-size: 16px;
    margin-top: 18px;
    line-height: 0.35;
}

.weather-component {
    position: relative;
    z-index: 1;
}

.choice-title {
    font-size: 2.3rem;
    padding: 12px;
}


/* Form */

.choiceForm-btn {
    margin-top: 100px;
}


/* HOME */

.joke-container {
    display: inline;
    float: right;
    width: 18%;
    padding: 14px;
    margin: 12px 10px 0 0;
}

.joke-container>p {
    line-height: 1rem;
    font-size: 16px;
}


.forecast-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 24vh 0;
    width: 100%; 
  }
  
  .forecast-card {
    text-align: center;
    flex-basis: 9%;
  }
  
  .forecast-icon {
    width: 55px;
    max-width: 60px;
    height: auto;
  }
  
  .forecast-minmax {
    margin-top: 2px;
    font-size: 12px;
  }


.btn-logout {
    position: fixed;
    bottom: -16px;
    left: 10px;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    background-color: #d17300;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #040D12;
}


/* Media Queries */
@media(max-width: 1000px) {

    .overlay-elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .joke-container {
        order: 1;
    }

    .btn-logout {
        font-size: 14px;
        width: 88px;
    }
}