/* User Settings */
#choice-page {
    height: 75vh;
    margin: auto auto;
    text-align: center;
}

/* Home  */
#home-container {
    height: 85vh;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.weather-container,
.joke-container {
    margin: 48px auto 0;
    padding: 18px;
}

.overlay-elements {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.weather-container {
    display: inline-block;
    font-weight: 550;
}

.weather-container>p {
    margin-top: 18px;
    line-height: 0.35;
}

.weather-component {
    position: relative;
    z-index: 1;
}

.choice-title {
    padding: 12px;
}


/* Form */

.choiceForm-btn {
    margin-top: 100px;
}


/* HOME */

.joke-container {
    display: inline;
    float: right;
    width: 18%;
}

.joke-container>p {
    line-height: 1rem;
}

/* Forecast Container */

.forecast-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 24vh 0;
    width: 100%;
}

.forecast-card {
    text-align: center;
    flex-basis: 11%;
}

.forecast-icon {
    width: 55px;
    max-width: 60px;
    height: auto;
}

.forecast-minmax {
    margin-top: 2px;
}


.btn-logout {
    position: fixed;
    bottom: -16px;
    left: 10px;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    background-color: #d17300;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #040D12;
}

/* Loading Spinner  */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d17300;
}





/* Media Queries */
@media(max-width: 1000px) {

    .overlay-elements {
        display: flex;
        flex-flow: row wrap;
        /* align-items: center; */
    }

    .weather-container {
        display: inline;
        float: left;
        width: 80%;
        padding: 14px;
        font-weight: 550;
    }

    .weather-container>p {
        margin-top: 18px;
        line-height: 0.35;
    }

    .forecast-container {
        display: flex;
        justify-content: center;
        gap: 0.7rem;
        flex-wrap: wrap;
        margin: 4vh 0;
        width: 100%;
    }

    .forecast-card {
        text-align: center;
        flex-basis: 9%;
    }

    .forecast-icon {
        width: 35px;
        height: auto;
    }

}


@media(max-width: 800px) {

    #home-container {
        font-size: 0.8rem;
    }

    .overlay-elements {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .weather-container {
        display: inline;
        float: left;
        width: 70%;
        margin-bottom: 8rem;
        padding: 14px;
        font-weight: 550;
    }

    .weather-container>p {
        margin-top: 18px;
        line-height: 0.35;
    }

    .joke-container>p {
        line-height: 1rem;
    }

    .forecast-container {
        display: flex;
        justify-content: center;
        gap: 1.2rem;
        flex-wrap: wrap;
        margin: 6rem 0 0 0;
        width: 100%;
    }

    .forecast-card {
        text-align: center;
        flex-basis: 9%;
    }

    .forecast-icon {
        width: 35px;
        height: auto;
    }
}


@media(max-width: 600px) {


    .overlay-elements {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .weather-container {
        display: inline;
        float: left;
        width: 68%;
        padding: 14px;
        font-weight: 550;
    }

    .weather-container>p {
        margin-top: 18px;
        line-height: 0.35;
    }

    .joke-container>p {
        line-height: 1rem;
    }

    .forecast-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 8vh 0;
        width: 100%;
    }

    .forecast-card {
        text-align: center;
        flex-basis: 9%;
    }

    .forecast-icon {
        width: 35px;
        height: auto;
    }
}


@media(max-width: 450px) {


    .overlay-elements {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .weather-container {
        width: 38%;
        margin: 68px auto 12px;
        padding: 14px;
    }

    .weather-container>p {
        margin-top: 18px auto;
        line-height: 0.35;
    }

    .joke-container {
        display: none;
    }

    .joke-container>p {
        line-height: 1rem;
    }

    .forecast-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 7rem 0 4rem 0;
        width: 100%;
    }

    .forecast-card {
        text-align: center;
        flex-basis: 9%;
    }

    .forecast-icon {
        width: 35px;
        height: auto;
    }
}