/* Body Styles */

body {
    font-family: "Roboto Slab", "Ubuntu", sans-serif;
    background-color: #d17300;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    overflow: hidden;
}

button {
    display: inline-block;
    width: 6rem;
    margin: 12px auto 32px auto;
}


.btn:hover {
    background-color: #d17300;
}


/* Header Styles */

header {
    text-align: left;
    margin: 0;
    padding: 2px 8px;
}


.home-link {
    color: black;
    text-decoration: none;
}

header h1 {
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
}


/* Welcome Styles */

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 0 24px 0;
    height: 90vh;
}

.welcome-icons {
    position: relative;
    flex-basis: 50px;
    justify-content: space-around;
    align-items: center;
}

.welcome-icons>.sun,
.cloud,
.storm,
.snow {
    margin: 0 24px 8px 24px;
}


.cover-heading {
    font-size: 3.2rem;
}

.lead {
    font-size: 1.9rem;
    text-align: right;
}

.nav-link {
    font-size: 1.2rem;
    width: 120px;
    background-color: #FDFFAE;
    border-radius: 6px;
    margin: 1.2% 2%;
    color: #000;
    display: inline-block;
}

.nav-link:hover {
    background-color: #4FC0D0;
}

main>h1,
p {
    line-height: 3.8rem;
}

/* Welcom Animations */

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        transform: scale(1.15);
    }
}

.welcome-icons {
    animation: bounce 2s linear infinite alternate;
}


/* Form Styles */

.form-frame {
    background-color: #ecf0f1;
    text-align: center;
    border-radius: 2%;
    border: 1px solid #000;
}

.form-title {
    text-align: center;
    font-size: 2.4em;
    margin: 12px 0 12px 0;
}

label {
    float: left;
    margin-bottom: 12px;
}

input {
    margin: 12px 0;
    width: 30rem;
}


.redirect-user {
    font-size: 0.9rem;
    line-height: 0rem;
}

/* Footer Styles */

footer {
    font-size: 0.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

footer > p {
    margin-top: 10px;
}

.error {
    display: inline-block;
    padding: 2px 10px;
    background-color: #d17300;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 20px;
}

/* Media Queries */

@media(max-width: 900px) {
    .Oauth-seperator {
        display: none;
    }
}