#choice-page {
    height: 75vh;
    margin: auto auto;
    text-align: center;
}


.choice-title {
    font-size: 2.3rem;
    padding: 12px;
}

/* Form */

.choiceForm-btn {
    margin-top: 100px;
}




