/* Main Icons */

.sun,
.cloudy,
.thunder,
.fog-icon,
.overcast-clouds {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}


/* Clear Sky */

#clear-sky {
    height: 100vh;
    background: linear-gradient(to bottom, #1E90FF 15%, #87CEEB 75%);
}


/* Partly Cloudy */

#partly-cloudy {
    height: 100vh;
    background: linear-gradient(to bottom, #1E90FF 15%, #D8D9DA 75%);
}

/* Rain */

#rainy {
    height: 100vh;
    background-color: #B0C4DE;
}


/* Thunder */

#thunder-storm {
    height: 100vh;
    background-color: #D8D8D8;
}

.thunder-rain {
    position: absolute;
    top: 0;
    z-index: 3;
}

/* Snow */

#snow {
    height: 100vh;
    background-color: #C0C0C0;
}

/* Fog */

#fog-container {
    height: 100vh;
    background: linear-gradient(to right, #B2B2B2, #FFF6E0, #ECECEC);
}

/* Overcast Clouds */

#overcast-cloudy {
    height: 100vh;
    background-color: rgb(169, 169, 169);
}



/* Media Queries */

@media(max-width: 1000px) {

    .sun,
    .cloudy,
    .thunder,
    .fog-icon,
    .overcast-clouds {
        width: 150px;
        height: 150px;
        margin-left: 37%;
    }
}


@media(max-width: 750px) {

    .sun,
    .cloudy,
    .thunder,
    .fog-icon,
    .overcast-clouds {
        width: 120px;
        height: 120px;
        margin-left: 36%;
        /* margin-top: 94px; */
    }
}